apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "py-kube-downscaler.serviceAccountName" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "py-kube-downscaler.name" . }}
rules:
- apiGroups:
    - ""
  resources:
    - pods
    - namespaces
  verbs:
    - get
    - watch
    - list
- apiGroups:
    - apps
  resources:
    - deployments
    - statefulsets
    - daemonsets
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
    - argoproj.io
  resources:
    - rollouts
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
    - autoscaling
  resources:
    - horizontalpodautoscalers
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
    - batch
  resources:
    - cronjobs
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
    - keda.sh
  resources:
    - scaledobjects
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
    - zalando.org
  resources:
    - stacks
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
    - ""
  resources:
    - events
  verbs:
    - get
    - create
    - watch
    - list
    - update
    - patch
- apiGroups:
    - policy
  resources:
    - poddisruptionbudgets
  verbs:
    - get
    - watch
    - list
    - update
    - patch
- apiGroups:
  - constraints.gatekeeper.sh
  resources:
  - kubedownscalerjobsconstraint
  verbs:
  - get
  - create
  - watch
  - list
  - update
  - patch
  - delete
- apiGroups:
  - kyverno.io
  resources:
  - policies
  resourceNames:
  - kube-downscaler-jobs-policy
  verbs:
  - get
  - create
  - watch
  - list
  - update
  - patch
  - delete
- apiGroups:
  - kyverno.io
  resources:
  - policies
  verbs:
  - get
  - create
  - watch
  - list
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplate
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "py-kube-downscaler.name" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "py-kube-downscaler.name" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "py-kube-downscaler.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
